.temp {
  font-size: 2rem;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: sans-serif;
}
.link-box {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.container {
  display: grid;
  gap: 5rem;
  grid-template-columns: 20fr 70fr;
}
.left-box {
  padding-top: 4rem;
  padding-left: 4rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  background: rgb(133, 16, 112);
  background: linear-gradient(
    180deg,
    rgba(133, 16, 112, 1) 0%,
    rgba(9, 9, 121, 1) 50%,
    rgba(42, 2, 37, 1) 100%
  );
  height: 100%;
}
.left-menu:link,
.left-menu:visited {
  text-decoration: none;
  color: #fff;
  font-size: 1.6rem;
}
.material-symbols-outlined {
  color: #fff;
}

/* Right box */

.right-box {
  padding-top: 4rem;
}
.greeting {
  display: block;
  font-size: 2.4rem;
  color: #555;
  font-weight: 700;
  margin-bottom: 2.4rem;
}

.account-summary {
  font-size: 2.6rem;
  color: #555;
  margin-bottom: 4.6rem;
}

.section-divider {
  margin-left: auto;
  margin-right: auto;
}

.client-container {
  padding-left: 15%;
  padding-right: 15%;
}

.account-title {
  display: block;
  font-size: 1.8rem;
  text-transform: capitalize;
  color: #555;
  margin-bottom: 1.6rem;
}
.-v {
  color: #fff;
}

.account-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 40rem;
  background: rgb(133, 16, 112);
  background: linear-gradient(
    180deg,
    rgba(133, 16, 112, 1) 0%,
    rgba(42, 2, 37, 1) 100%
  );
  box-shadow: 4px 9px 9px 1px rgba(0, 0, 0, 0.35);
  border-radius: 8px;
  padding: 2rem;
  align-items: center;
  margin-bottom: 6rem;
}
.balance {
  font-size: 3.4rem;
  color: #fff;
}
