.searchInputs {
    background: rgb(255, 255, 255);
    margin-top: 25px;
    display: flex;
    flex-grow: 1;
    border: 1px solid #dddddd;
    border-radius: 30px;
}

.searchInputs button {
    flex-grow: 1;
    border-bottom: 0px;
    border-top: 0px;
    border-right: 0px;
    border-left: 1px solid #dddddd;
    border-radius: 30px;
    transition: color 0.5s, background-color 0.5s;
}

.logout {
    width: 30%;
    height: 30px;
    border-radius: 20px;
    border: 0px;
}

.searchInputs button:hover {
    color:rgb(77, 77, 77);
    background-color:rgb(158, 158, 158);
}

.bar {
    background-color: white;
    border: 0;
    border-radius: 30px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 18px;
    padding: 25px;
    height: 30px;
    width: 300px;
    flex-grow: 8;
}

.searchIcon {
    height: 60px;
    width: 50px;
    background-color: white;
    display: grid;
    place-items: center;
}

input:focus {
    outline: none;
}

.searchIcon svg {
    font-size: 35px;
}