* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html {
    font-size: 62.5%;
  }
  body {
    font-family: sans-serif;
  }
  .container {
    /* height: 100vh; */
  }
  
  .grid {
    display: grid;
    grid-gap: 2rem;
    align-items: center;
  }
  .grid--2cols {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .greeting {
    font-size: 3.4rem;
    margin-bottom: 4rem;
  }
  .text-area {
    padding: 2rem 4rem;
  }
  .form-element {
    margin-bottom: 2rem;
  }
  .default-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .btn-box {
    margin-bottom: 2rem;
  }
  .btn-login {
    display: inline-block;
    background-color: blue;
    color: #fff;
    padding: 1rem 11rem;
  }
  .cta-from-element {
    margin-bottom: 1rem;
  }
  .form-span {
    font-size: 1.6rem;
    color: #333;
  }
  .link:link,
  .link:visited {
    text-decoration: none;
    color: darkblue;
    font-size: 1.6rem;
  }
  .login-img img {
    max-width: 100%;
    height: 100vh;
  }